<!--  This file is app/views/movies/index.html.erb -->
<% if flash[:message] %>
   <div class="alert alert-danger">
     <span class="error"><%= flash[:message] %></span>
   </div>
<% end %>
<div>
<%= form_tag courses_path, method: :get, id: 'departments_form' do %>     
<nav class="navbar navbar-dark text-white sticky-top" style="background-color: #5BA4CF">
  <%= link_to "Add Previously Taken Courses", prevcoursesform_url, class: "btn btn-outline-success", style: "margin-left: 20px" %>
  <h4>Fall 2021 Courses</h4>
    <div>
      <label  class="label_name"> Department: </label>
      <select name="department" class="btn btn-outline-success dropdown-toggle" style="margin-right: 20px">
          <%= options_for_select(@all_departments, selected: @department_to_show) %>
      </select>
    </div>
</nav>

<div style="margin-right: 40px;margin-left: 40px;">
<br>
    <div class="row">
        <div class="col-11">
        <label class="label_name">Filter by Requirement: </label>
        <% @all_requirements.each do |requirement| %>
        <div class="form-check  form-check-inline">
          <%= label_tag "requirements[#{requirement}]", requirement, class: 'form-check-label' %>
          <%= check_box_tag "requirements[#{requirement}]", "1",  @requirements_to_show.include?(requirement), class: 'form-check-input', id: "requirements_#{requirement}"%>
        </div>
       <% end %>
        </div>

        <div>
        </div>
    </div>

</div>
 <%= submit_tag 'Refresh', id: 'departments_submit', class: 'btn btn-cu' %>     
<% end %>
    
</div>    
<%= form_tag courses_add_cart_path, method: :post, id: 'add_to_cart_form' do %>
    
<table class="table table-hover col-md-12" id="movies">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Department</th>
      <th>Course Name</th>
      <th>Professor</th>
      <th>Requirement</th>
      <th>Course Day/Time</th>
      <th>More About</th>
      <th>Cart</th>  
    </tr>
      
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.course_num %>
        </td>
        <td>
          <%= course.dept %>
        </td>
        <td>
          <%= course.course_name %>
        </td>
        <td>
          <%= course.professor %>
        </td>
	<td>
	  <%= course.requirement%>
	</td>
        <td>
	  <%= course.course_time%>
	</td>
    <td>
      <%= link_to "More about #{course.course_name}", course_detail_path(course) %>
    </td>
    <td>
      <div class="form-check  form-check-inline">
          <%= label_tag "addCart[#{course.course_num}]", "", class: 'form-check-label' %>
          <%= check_box_tag "addCart[#{course.course_num}]", "0", @addCart.include?(course.course_num), class: 'form-check-input', id: "addtoCart[#{course.course_num}]"%>
      </div>  
    </td>      
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag 'Add To Cart', id: 'addcart_submit', class: 'btn btn-cu' %> 
<% end %>
</div>
