<!--  This file is app/views/movies/index.html.erb -->

<%= form_tag courses_path, method: :get, id: 'departments_form' do %>
    <div class="row">
        <div class="col-6">
            <h2 >Fall 2021 Courses</h2>
        </div>
        <div class="col-6">
            <label  class="label_name"> Department: </label>
            <select name="department" class=".department-dropdown">
                <%= options_for_select(@all_departments, selected: @department_to_show) %>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        <label class="label_name"> Requirement: </label>
        <% @all_requirements.each do |requirement| %>
        <div class="form-check  form-check-inline">
          <%= label_tag "requirements[#{requirement}]", requirement, class: 'form-check-label' %>
          <%= check_box_tag "requirements[#{requirement}]", "1",  @requirements_to_show.include?(requirement), class: 'form-check-input', id: "requirements_#{requirement}"%>
        </div>
       <% end %>                     
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <%= submit_tag 'Refresh', id: 'departments_submit', class: 'btn btn-primary' %>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        	<%= link_to "Add Previously Taken Courses", prevcoursesform_url %>
	</div>
    </div>


<% end %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Department</th>
      <th>Course Name</th>
      <th>Professor</th>
      <th>Requirement</th>
      <th>Course Day/Time</th>
      <th>More About</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.course_num %>
        </td>
        <td>
          <%= course.dept %>
        </td>
        <td>
          <%= course.course_name %>
        </td>
        <td>
          <%= course.professor %>
        </td>
	<td>
	  <%= course.requirement%>
	</td>
        <td>
	  <%= course.course_time%>
	</td>
    <td>
      <%= link_to "More about #{course.course_name}", course_detail_path(course) %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>
