<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @coursedetail.number %></em></h2>
<h1 ><%= image_tag("columbia-university-logo.jpg", :alt => "logo", :class => "logo_image") %></h1>

<ul id="details">
  <li>
    Number:
    <%= @coursedetail.number %>
  </li>
  <li>
    Instructor:
    <%= @course.professor %>
  </li>
  <li>
    Course Name:
    <%= @course.course_name %>
  </li>  
  <li>
    Type:
    <%= @coursedetail.coursetype %>
  </li>
  <li>
    Points:
    <%= @coursedetail.points %>
  </li> 
  <li>
    Method of Instruction:
    <%= @coursedetail.method_of_inst %>
  </li>  
  <li>
    Details:
    <%= @coursedetail.detail %>
  </li>
</ul>
<div class="row">
  <%= link_to 'Back to Course list', courses_path, :class => 'btn btn-primary' %>
</div>
