<!--  app/views/courses/show.html.erb -->

<div style="margin-left: 40px;margin-right: 40px">
  <br>
  <div class = "row">
    <div class = "col-6">
      <h2>Details about <em><%= @coursedetail.number %></em></h2>
    </div>
    <div class = "col-6">
      <%= link_to 'Back to Course list', courses_path, :class => 'btn btn-cu float-right' %>
    </div>
  </div>

  <div>
  <table class="table table-hover col-md-12" id="details">
      <tr>
      <td>
      <label class="font-weight-bold"> Number: </label>
      </td>
      <td>
      <%= @coursedetail.number %>
      </td>
      </tr>
      <tr>
      <td>
      <label class="font-weight-bold"> Instructor: </label>
      </td>
      <td>
        <%= @course.professor %>
      </td>
      </tr>
      <tr>
      <td>
      <label class="font-weight-bold"> Course Name: </label>
      </td>
      <td>
        <%= @course.course_name %>
      </td>  
      </tr>
      <tr>
      <td>
      <label class="font-weight-bold"> Type: </label>
      </td>
      <td>
      <%= @coursedetail.coursetype %>
      </td>
      </tr>
      <tr>
      <td>
      <label class="font-weight-bold"> Points: </label>
      </td>
      <td>
        <%= @coursedetail.points %>
      </td> 
      </tr>
      <tr>
      <td>
      <label class="font-weight-bold"> Method of Instruction: </label>
      </td>
      <td>
        <%= @coursedetail.method_of_inst %>
      </td>  
      </tr>
      <tr>
      <td>
      <label class="font-weight-bold"> Details: </label>
      </td>
      <td>
        <%= @coursedetail.detail %>
      </td>
      </tr>
    </table>
  </div>
  <br>

<%= button_to 'I am interested in this course!', course_likes_path(@course), method: :post %>
<p><%= @course.likes.count %> <%= (@course.likes.count) == 1 ? ' student interested in this course' : ' students interested in this course'%></p>


  <h2>FAQs</h2>

  <br>

  <% @all_questions.each do |q| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> <%= q["question"] %> </h5>
        <% if q["answer"].empty? %>
          <%= form_tag course_ans_path, method: :post, id: 'answer_form' do %>
            <div class = "row form-group">
              <div class = "col-12">
                <input type="text" name="inputAnswer" class="form-control" id="inputAnswer" placeholder="Your answer here">
                <input type="hidden" name="inputQuestionId" value=<%= q["id"]%> >
                <input type="hidden" name="course_number" value='<%= q["course_number"]%>' >
              </div>
            </div>
            <div class = "row">
              <div class = "col-12">
                <%= submit_tag 'Answer', id: 'answer_submit', class: 'btn btn-cu' %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="card-text"> <%= q["answer"][0]["answer"] %></p>
        <% end %>
      </div>
    </div>
    <br>
  <% end %> 


    <div class="card">
      <%= form_tag course_faq_path(@coursedetail), method: :post, id: 'questions_form' do %>
        <div class="card-header text-white bg-cu">
          Post a Question to instructors
        </div>
        <div class="card-body">
          <input type="text" name="inputQuestion" class="form-control" id="inputQuestion" placeholder="Post a question" style="margin-bottom: 10px;">
          <input type="hidden" name="inputCourse" class="form-control" id="inputCourse" value='<%= @coursedetail.number%>'>
          <%= submit_tag 'Post', id: 'questions_submit', class: 'btn btn-cu' %>
        </div>
      <% end %>
    </div>

    <br>
    <br>
    <br>
  </div>  
